[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
iterable-orm = "*"
mypy = "*"
notebook = "*"

[packages]
"pdfminer.six" = "*"
coverage = "*"
django = "*"
python-magic = "*"
python-dateutil = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
