{% load static %}<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Data</title>
    <link rel="stylesheet" href="{% static 'data_vis/css/rc-slider.css' %}">
    <link rel="stylesheet" href="{% static 'data_vis/css/rc-slider-custom.css' %}">
    <link rel="stylesheet" href="{% static 'data_vis/css/rc-switch.css' %}">
</head>
<body>
    <main id="mount_point" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></main>
    <script src="{% static 'data_vis/dist/main.js' %}" charset="utf-8"></script>
</body>
</html>
